<html lang='tr'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Contact Form</title>
  </head>
  <body>
    <div
      style='width:600px; margin:0 auto; padding:10px; border:1px solid #e7e7e7; border-radius:5px;'
    >
      <h2>Hello <strong>{{name}}</strong>,</h2>
      <p>We have received you request.</p>
      <p>We will call back you soon.</p>
      <p>If you have any queries please feel free to reach out to us for more
        info...</p>
      <p>Contact Person Name : <strong>Vicky Kumar</strong></p>
      <p>Contact No : <strong>9155657918</strong></p>
      <br />

      <p>
        Regards,<br />
        Prashant Kumar
        <br />
        Shadi solution Tech support
      </p>
    </div>
  </body>
</html>